In [164]:
import raspador_restaurante
import json
import pandas as pd #PRECISA

In [165]:
df = raspador_restaurante.tables_on_page

In [166]:
display(df)

,0,1
0,21/11 • Seg,Ingredientes
1,Almoço Prato Principal: File de frango grelha...,Almôndegas de PTS ao sugo: Soja texturizada gr...
2,22/11 • Ter,Ingredientes
3,Almoço Prato Principal: Carne Moída com azeit...,"Omelete de Forno com Legumes: Ovo de galinha, ..."
4,23/11 • Qua,Ingredientes
5,Almoço Prato Principal: Frango Assado Opção s...,"Quibe de PTS: alho, salsinha, cebola, sal, soj..."
6,24/11 • Qui,Ingredientes
7,Almoço Prato Principal: Bife Acebolado Opção ...,"Croquete de ervilha seca: cebola, sal, ervilha..."
8,25/11 • Sex,Ingredientes
9,Almoço Prato Principal: Filé de peixe ao molh...,"Chilli vegano : Alho, cebola, pimentão verde, ..."
10,26/11 • Sáb,Ingredientes
11,Almoço Prato Principal: Frango Assado ao Molh...,Feijão branco com couve-flor: Feijão branco co...

In [167]:
# seleciona a tabela que foi raspada do site da ufabc

df = df.drop(1,axis="columns") # dropa o campo de informações #PRECISA

In [168]:
df

                                                    0
0                                         21/11 • Seg
1   Almoço  Prato Principal: File de frango grelha...
2                                         22/11 • Ter
3   Almoço  Prato Principal: Carne Moída com azeit...
4                                         23/11 • Qua
5   Almoço  Prato Principal: Frango Assado Opção s...
6                                         24/11 • Qui
7   Almoço  Prato Principal: Bife Acebolado Opção ...
8                                         25/11 • Sex
9   Almoço  Prato Principal: Filé de peixe ao molh...
10                                        26/11 • Sáb
11  Almoço  Prato Principal: Frango Assado ao Molh...

In [169]:
df.shape # qual o tamanho do dataframe

(12, 1)

In [170]:
# separa os indices pares dos indices impares (Data e dia das informações do almoço)
df_dias = df.iloc[[ x for x in range(0,df.shape[0],2)]]
df_comida = df.iloc[[ x for x in range(1,df.shape[0],2)]] #PRECISA

In [171]:
df_dias = df_dias.rename(columns={0:"data"}) # renomeia a coluna dos dias
df_comida = df_comida.rename(columns={0:"informacoes"}) # renomeia a coluna da comida #PRECISA

In [172]:
df_comida["informacoes"] = df_comida["informacoes"].apply( lambda str : str.lower() )

In [173]:
df_dias[['data','dia_semana']] = df_dias["data"].str.split(" • ",expand=True,) #PRECISA
df_dias["dia_semana"] = df_dias["dia_semana"].apply( lambda string_day: list(filter(lambda x : x[1] == string_day, list(enumerate(["Seg","Ter","Qua","Qui","Sex","Sáb"]))))[0][0])

In [174]:
df

                                                    0
0                                         21/11 • Seg
1   Almoço  Prato Principal: File de frango grelha...
2                                         22/11 • Ter
3   Almoço  Prato Principal: Carne Moída com azeit...
4                                         23/11 • Qua
5   Almoço  Prato Principal: Frango Assado Opção s...
6                                         24/11 • Qui
7   Almoço  Prato Principal: Bife Acebolado Opção ...
8                                         25/11 • Sex
9   Almoço  Prato Principal: Filé de peixe ao molh...
10                                        26/11 • Sáb
11  Almoço  Prato Principal: Frango Assado ao Molh...

In [175]:
display(df_dias)

     data  dia_semana
0   21/11           0
2   22/11           1
4   23/11           2
6   24/11           3
8   25/11           4
10  26/11           5

In [176]:
display(df_comida)

                                          informacoes
1   almoço  prato principal: file de frango grelha...
3   almoço  prato principal: carne moída com azeit...
5   almoço  prato principal: frango assado opção s...
7   almoço  prato principal: bife acebolado opção ...
9   almoço  prato principal: filé de peixe ao molh...
11  almoço  prato principal: frango assado ao molh...

In [177]:
df_comida["informacoes"].str.split(r"\b(Almoço|Jantar|Saladas|Sobremesas)\b",expand=True,)

                                                    0
1   almoço  prato principal: file de frango grelha...
3   almoço  prato principal: carne moída com azeit...
5   almoço  prato principal: frango assado opção s...
7   almoço  prato principal: bife acebolado opção ...
9   almoço  prato principal: filé de peixe ao molh...
11  almoço  prato principal: frango assado ao molh...

In [178]:

#PRECISA
df_comida[['Almoço','Jantar',"Saladas","Sobremesas"]] = df_comida["informacoes"].str.split(r"\b(almoço|jantar|saladas|sobremesas)\b",expand=True,)[[2,4,6,8]]

KeyError: "None of [Int64Index([2, 4, 6, 8], dtype='int64')] are in the [columns]"

In [ ]:
display(df_comida["Almoço"])

1       Prato Principal: File de frango grelhado Opç...
3       Prato Principal: Carne Moída com azeitona e ...
5       Prato Principal: Frango Assado Opção sem car...
7       Prato Principal: Bife Acebolado Opção sem ca...
9       Prato Principal: Filé de peixe ao molho de l...
11      Prato Principal: Frango Assado ao Molho de E...
Name: Almoço, dtype: object

In [ ]:
#PRECISA
df_comida.drop("informacoes",inplace=True, axis=1)

In [ ]:
df_comida

,Almoço,Jantar,Saladas,Sobremesas
1,Prato Principal: File de frango grelhado Opç...,Prato Principal: Iscas de Carne ao Molho Rot...,"Cenoura Ralada, Alface Crespa, Pepino","Pudim com Calda, Laranja"
3,Prato Principal: Carne Moída com azeitona e ...,Prato Principal: Cubos suínos ao molho de er...,"Beterraba Ralada, Feijão Fradinho, Acelga","Gelatina de Limão, Maçã"
5,Prato Principal: Frango Assado Opção sem car...,Prato Principal: Peixe ao molho branco Opção...,"Escarola, Soja em Grão ao Vinagrete, Chuchu ...","Goiabada Cremosa, Abacaxi"
7,Prato Principal: Bife Acebolado Opção sem ca...,,"Pepino, Grão de bico com salsa, Agridoce","Gelatina de cereja, Banana"
9,Prato Principal: Filé de peixe ao molho de l...,Prato Principal: Carne Assada Opção sem carn...,"Beterraba Ralada, Alface Crespa, Tomate e ce...","Maria-mole, Melão"
11,Prato Principal: Frango Assado ao Molho de E...,,"Abobrinha Ralada, Acelga, Tabule","Doce de Abóbora, Melancia"

In [ ]:
df_dias

     data  dia_semana
0   21/11           0
2   22/11           1
4   23/11           2
6   24/11           3
8   25/11           4
10  26/11           5

In [ ]:
df_dias = df_dias.reset_index(drop=True)
df_comida = df_comida.reset_index(drop=True) #PRECISA

In [ ]:
df = pd.concat([df_dias, df_comida], axis=1,join="inner") #PRECISA

In [ ]:
display(df)

,data,dia_semana,Almoço,Jantar,Saladas,Sobremesas
0,21/11,0,Prato Principal: File de frango grelhado Opç...,Prato Principal: Iscas de Carne ao Molho Rot...,"Cenoura Ralada, Alface Crespa, Pepino","Pudim com Calda, Laranja"
1,22/11,1,Prato Principal: Carne Moída com azeitona e ...,Prato Principal: Cubos suínos ao molho de er...,"Beterraba Ralada, Feijão Fradinho, Acelga","Gelatina de Limão, Maçã"
2,23/11,2,Prato Principal: Frango Assado Opção sem car...,Prato Principal: Peixe ao molho branco Opção...,"Escarola, Soja em Grão ao Vinagrete, Chuchu ...","Goiabada Cremosa, Abacaxi"
3,24/11,3,Prato Principal: Bife Acebolado Opção sem ca...,,"Pepino, Grão de bico com salsa, Agridoce","Gelatina de cereja, Banana"
4,25/11,4,Prato Principal: Filé de peixe ao molho de l...,Prato Principal: Carne Assada Opção sem carn...,"Beterraba Ralada, Alface Crespa, Tomate e ce...","Maria-mole, Melão"
5,26/11,5,Prato Principal: Frango Assado ao Molho de E...,,"Abobrinha Ralada, Acelga, Tabule","Doce de Abóbora, Melancia"

In [ ]:
json.loads(df.to_json(orient='records')) #PRECISA

[{'data': '21/11',
  'dia_semana': 0,
  'Almoço': '  Prato Principal: File de frango grelhado Opção sem carne: Almôndegas de PTS ao sugo Guarnição: Macarrão ao alho e óleo ',
  'Jantar': '  Prato Principal: Iscas de Carne ao Molho Roty Opção sem carne: Hambúrguer de lentilha Guarnição: Farofa Colorida ',
  'Saladas': '  Cenoura Ralada, Alface Crespa, Pepino  ',
  'Sobremesas': '  Pudim com Calda, Laranja'},
 {'data': '22/11',
  'dia_semana': 1,
  'Almoço': '  Prato Principal: Carne Moída com azeitona e ovos Opção sem carne: Omelete de Forno com Legumes Guarnição: Abobrinha aromática ',
  'Jantar': '  Prato Principal: Cubos suínos ao molho de ervas Opção sem carne: PTS refogada com ervilha Guarnição: Berinjela refogada ',
  'Saladas': '  Beterraba Ralada, Feijão Fradinho, Acelga  ',
  'Sobremesas': '  Gelatina de Limão, Maçã'},
 {'data': '23/11',
  'dia_semana': 2,
  'Almoço': '  Prato Principal: Frango Assado Opção sem carne: Quibe de PTS Guarnição: Creme de milho ',
  'Jantar': '  Prato Principal: Peixe ao molho branco Opção sem carne: Torta de escarola e ricota Guarnição: Couve refogada ',
  'Saladas': '  Escarola, Soja em Grão ao Vinagrete, Chuchu com salsa  ',
  'Sobremesas': '  Goiabada Cremosa, Abacaxi'},
 {'data': '24/11',
  'dia_semana': 3,
  'Almoço': '  Prato Principal: Bife Acebolado Opção sem carne: Croquete de ervilha seca Guarnição: Chuchu ao forno ',
  'Jantar': '  ',
  'Saladas': '  Pepino, Grão de bico com salsa, Agridoce  ',
  'Sobremesas': '  Gelatina de cereja, Banana'},
 {'data': '25/11',
  'dia_semana': 4,
  'Almoço': '  Prato Principal: Filé de peixe ao molho de limão Opção sem carne: Chilli vegano Guarnição: Batata rústica ',
  'Jantar': '  Prato Principal: Carne Assada Opção sem carne: Falafel Guarnição: Creme de Espinafre ',
  'Saladas': '  Beterraba Ralada, Alface Crespa, Tomate e cebola  ',
  'Sobremesas': '  Maria-mole, Melão'},
 {'data': '26/11',
  'dia_semana': 5,
  'Almoço': '  Prato Principal: Frango Assado ao Molho de Ervas Opção sem carne: Feijão branco com couve-flor Guarnição: Escarola refogada ',
  'Jantar': '  ',
  'Saladas': '  Abobrinha Ralada, Acelga, Tabule  ',
  'Sobremesas': '  Doce de Abóbora, Melancia'}]

In [ ]:
"""
Json que guardaremos no Atlas
{
    "data" : "15/11",
    "dia_semana" : "Terça-feira",
    
    "almoço" : {
        "Principal":"Prato Principal",
        "vegetariano:":"vegetariano",
    },
    "Jantar" : {
        "Principal":"Prato Principal",
        "vegetariano:":"vegetariano",

    }
        "Guarnição" : "Guarnição"
        "salada" : "sobremesa"
        "sobremesa" : "sobremesa"
}
"""

'\nJson que guardaremos no Atlas\n{\n    "data" : "15/11",\n    "dia_semana" : "Terça-feira",\n    \n    "almoço" : {\n        "Principal":"Prato Principal",\n        "vegetariano:":"vegetariano",\n    },\n    "Jantar" : {\n        "Principal":"Prato Principal",\n        "vegetariano:":"vegetariano",\n\n    }\n        "Guarnição" : "Guarnição"\n        "salada" : "sobremesa"\n        "sobremesa" : "sobremesa"\n}\n'

In [ ]:
qual o almoço de hoje ?
qual ru de amanha ? 
ru do dia 17/11 (sexta)

SyntaxError: invalid syntax (3264250913.py, line 1)